extends includes/layout
block main-content
    header.nav.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="#/") RateMyX
            .navbar-collapse.collapse
                div(ng-include="'partials/nav/nav'")
                div(ng-include="'partials/account/auth-navbar'")

    section
        div(ng-view)

    div#loadingmsg(style="display:none;") Redirecting, please wait...
    div#loadingover(style="display:none;")
    div.panel-footer.navbar-fixed-bottom
        footer.text-center
            small
                a(href="https://github.com/flextry" target="_blank") Martin Nikolov
                |  &#169; 2014,
                a(href="http://telerikacademy.com/" target="_blank") Telerik Academy
            br
            small
                a(href="https://github.com/flextry/RateMyX" target="_blank") Open Source Project at GitHub