.container(ng-repeat="(key, value) in categories")
    .row(ng-if="value.length > 0")
        .col-md-6.big-text
            strong
                | \#{{ key }}
        .col-md-6
            a.btn.btn-default.pull-right(href="#/categories/{{ key | lowercase }}")
                | See all
    .row
        .col-md-3.text-center(ng-repeat="vote in value | limitTo: 4")
            .img-container
                a(href="#/vote/{{ vote._id }}")
                   img(ng-src="{{ vote.pictureUrl }}")