.container
    .row
        .col-md-3.text-center(ng-repeat="vote in votes")
            .img-container
                a(href="#/vote/{{ vote._id }}")
                    img(ng-src="{{ vote.pictureUrl }}")