.container.clearfix
    div.row.jumbotron
        div.col-md-6
            h1
             | \#{{ vote.category | lowercase}}
            div
                p
                    | Likes:
                    span.pull-right
                        | {{ vote.likes }}
                        span.vote-buttons-container
                            a.btn.btn-default.btn-small.btn-voting +
                            a.btn.btn-default.btn-small.btn-voting −
                p
                    | Question:
                    div.well.well-lg
                        div {{ vote.question }}
                        span.vote-thumbs-container.pull-right
                            a.btn-small.btn-vote-up
                                span.glyphicon.glyphicon-thumbs-up
                            a.btn-small.btn-vote-down
                                span.glyphicon.glyphicon-thumbs-down
        div.col-md-6.image-container
           img(ng-src="{{ vote.pictureUrl }}")