#navbar-main.collapse.navbar-collapse(ng-controller="LoginController")
    ul.nav.navbar-nav.navbar-right(ng-hide="identity.isAuthenticated()")
        li
            a(href="#/signup") Register
        li
            a(href="#/login") Login
    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | Hello, {{ identity.currentUser.username }}&nbsp;
                span.caret
            ul.dropdown-menu
                li(ng-show="identity.currentUser.isAdmin()")
                    a(href="#/admin/categories") Categories
                li(ng-show="identity.currentUser.isAdmin()")
                    a(href="#/admin/category/create") Create category
                li(ng-show="identity.currentUser.isAdmin()")
                    a(href="#/admin/users") Users
                li(ng-show="identity.isAuthenticated()")
                    a(href="#/votes/mine") My Votes
                li(ng-show="identity.isAuthenticated()")
                    a(href="#/profile") Profile
                li
                    a(href="#" ng-click="logout()") Sign Out

