ul.nav.navbar-nav.navbar-right(ng-controller="LoginController", ng-hide="identity.isAuthenticated()")
    li
        a(href="#/signup") Register
    li
        a(href="#/login") Login
ul.nav.navbar-nav.navbar-right(ng-controller="LoginController", ng-show="identity.isAuthenticated()")
    li.dropdown
        a.dropdown-toggle(href="", data-toggle="dropdown")
            | Hello, {{ identity.currentUser.username }}&nbsp;
            span.caret
        ul.dropdown-menu
            li(ng-show="identity.isAuthenticated()")
                a(href="#/profile") Profile
            li
                a(href="#" ng-click="logout()") Sign Out

