.container.col-md-12
    form.form-signin(name="signInForm", role="form")
        h2.form-sign-in-heading Please sign in
        input.form-control(type="text", placeholder="Username", ng-model="user.username", required, autofocus="", ng-trim="", ng-minlength="2", ng-maxlength="20")
        input.form-control.sign-in-confirm-password-input(type="password", placeholder="Password", ng-model="user.password", ng-minlength="4", ng-maxlength="20", required)
        button.btn.btn-primary.btn-lg.btn-block.sign-in-button(ng-click="login(user)", ng-disabled="signInForm.$pristine || signInForm.$invalid", type="submit")
            | Sign in