.container
    .well
        form.form-horizontal(name="passwordForm")
            fieldset
                legend Update password
                .form-group
                    label.col-md-2.control-label(for="password") Password
                    .col-md-10
                        input#password.form-control(type="password", placeholder="Password", ng-model="newPassword.password", required, ng-minlength=3)
                .form-group
                    label.col-md-2.control-label(for="confirmPassword") Confirm Password
                    .col-md-10
                        input#confirmPassword.form-control(type="password", placeholder="Confirm Password", ng-model="newPassword.confirmPassword", required, ng-minlength=3)
                .pull-right
                    button.btn.btn-primary(ng-click="updatePassword(newPassword)", ng-disabled="passwordForm.$pristine || passwordForm.$invalid || newPassword.password != newPassword.confirmPassword") Update
                    a.btn.btn-primary(href="#/") Cancel